.footer {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    bottom: 10px;
    position: absolute;
    text-align: center;
    text-decoration: none;
}

/*
.img2{
    visibility: hidden;
}

.img3{
    visibility: hidden;
}
*/

.displayWindow{
    width: 800px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transition: transform 2s;
    transform: scale(0.7);
    background-image: url("../../img/marsplanet1.jpg");
}

body{
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: black;
}


#startButton {
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: rgb(84, 84, 196);
    width: 110px;
    height: 20px;
    color: rgb(255, 255, 255);
}

#container{
    width: 800px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    overflow: hidden;
    position: absolute;
}

#testimg1 {
    margin-top: auto;
    object-fit: cover;
    width: 800px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transition: transform 2s;
    transform: scale(0.7);
    transform: top(0);
    left: 0;
    top: 0;
    animation: move1 3s;
}




@keyframes move1 {
  50% {left: 500px;}
}
