.footer {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    bottom: 10px;
    position: absolute;
    text-align: center;
    text-decoration: none;
}

.img1 {
    visibility: visible;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    animation-name: IMG1;
    animation-duration: 4s;
    transition: transform 2s;
    transform: scale(1);
}



.img2{
    visibility: hidden;
}

.img3{
    visibility: hidden;
}

.displayWindow{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: black;
}


@keyframes IMG1 {
    0%   {scale: (1);}
    25%  {scale: (2);}
    50%  {scale: (3);}
    100% {scale: (4);}
}