body {
    background-color: aquamarine;
    align-items: center;
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}

hr {
    border-top  : 3px solid red;
}

.incommingMsg {
    text-align: left;
    box-shadow: 0 0 0 0.1rem rgb(255, 255, 255);
    background-color:rgb(255, 255, 255);
    border-radius: 12px;
    font: bold 1rem sans-serif;
    margin: 2rem;
    padding: 1rem;
    width: fit-content;
}

.incommingMsg h6 {
    color: rgb(71, 67, 67);
}

.incommingMsg p {
    font-size: 15px;
}