body {
    background-color: aquamarine;
    align-items: center;
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 12px;
}

hr {
    border-top  : 3px solid red;
    margin: 10px;
}

.group1 {
    border: 4px solid rgb(112, 19, 100);
    margin: 10px;
    padding: 10px;
    border-radius: 12px;
}

.group1 a {
    text-decoration: none;
    color: black;
}

.group1 a p {
    font-size: 20px;
}

.post1 {
    border: 4px solid rgb(31, 110, 74);
    margin: 10px;
    padding: 10px;
    border-radius: 12px;
}

.post1 a {
    text-decoration: none;
    color: black;
}

.post1 a p {
    font-size: 20px;
}

.trumpDominionTweet {
    width: 400px;
}

.pizzagate {
    width: 400px;
}