form {
    width:300px;
}
   
input {
    width:100%;
}
   
textarea {
   resize: vertical;
    max-height: 100px;
}


input, button{
    height: 25px;
    font-size: 20px;
}

/*
input:focus, textarea:focus{
    box-shadow: 0 0 4px rgba(0, 110, 255,0.5);
    border: 1px solid rgb(0, 110, 255);
}

*/

::placeholder {
    color: rgb(100, 85, 85);
    opacity: 1;
    font-size: 20px;
}

:-ms-input-placeholder {
    color: rgb(102, 89, 89);
    opacity: 1;
}

::-ms-input-placeholder {
    color: rgb(102, 89, 89);
    opacity: 1;
}



body{
     font-family:cursive;
     font-size: 20px;

}   

    
    
h1{

    text-align: center;
    color:blue;
    font-weight:bold;
    margin-top: 100px;
}
    
h2{
    font-family: Helvetica;
    font-size: 30px;
    font-style: italic;
}
        
        
h6{
     text-align:right;
}

p {
    margin-top: 100px;
    text-align: center;
}

.kickme {
    align-items: center;
}