{% extends 'base.html' %}



{% block head %}

<title>Project: Blog</title>

{% endblock %}


    
        {% block body %}
        
        <h1>My first mad lib</h1>

       <form action="/" method="POST">
        <input type="text" name="firstword" placeholder="noun">
        <input type="text" name="secondword" placeholder="person in the room">
        <input type="text" name="thirdword" placeholder="adjective">
        <input type="text" name="fourthword" placeholder="adjective">
        <input type="text" name="fifthword" placeholder="noun">
        <input type="text" name="sixthword" placeholder="body part">
        <input type="text" name="seventhword" placeholder="adjective">
        <input type="text" name="eighthword" placeholder="noun">
        <input type="text" name="ninthword" placeholder="noun that you could possibly use to refer to a male person">
        <input type="text" name="tenthword" placeholder="noun that you could possibly use to refer to a female person">
        <input type="text" name="eleventhword" placeholder="verb">
        <input type="text" name="twelvethword" placeholder="noun">
        <button type="submit" name="submit">Submit</button>
       </form>
{% endblock %}